<h1>COMPLETE!!!</h1>


<h2><%= @who %> 님에게 이메일을 전송하였습니다.</h2>
<h2>제목 </h2>
<h3><%= @almond %></h3>
<h2>내용</h2>
<h3><%= @anchoby %></h3>

<h3><a href ="/list">보낸 메일함</a></h3>

<h3><a href ="/">
    돌아가기</a></h3>